[global]
  checkNewVersion = false
  sendAnonymousUsage = false

[providers]
  [providers.file]
     directory = "/opt/traefik/config"
     watch = true

[entryPoints]
  [entryPoints.web]
    address = ":80"
    [entryPoints.web.http]
      [entryPoints.web.http.redirections]
        [entryPoints.web.http.redirections.entryPoint]
          to = "websecure"
          scheme = "https"

  [entryPoints.websecure]
    address = ":443"
